<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-wswSelPhono" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>wswSelPhono</name>
    <js-module name="wswSelPhono" src="www/wswSelPhono.js">
        <clobbers target="wswSelPhono" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="wswSelPhono">
                <param name="ios-package" value="wswSelPhono" />
            </feature>
        </config-file>

        <header-file src="src/ios/wswSelPhono.h" />
        <source-file src="src/ios/wswSelPhono.m" />

        <header-file src="src/ios/TZImagePickerController/NSBundle+TZImagePicker.h" />
        <source-file src="src/ios/TZImagePickerController/NSBundle+TZImagePicker.m" />
        <header-file src="src/ios/TZImagePickerController/TZAssetCell.h" />
        <source-file src="src/ios/TZImagePickerController/TZAssetCell.m" />
        <header-file src="src/ios/TZImagePickerController/TZAssetModel.h" />
        <source-file src="src/ios/TZImagePickerController/TZAssetModel.m" />
        <header-file src="src/ios/TZImagePickerController/TZGifPhotoPreviewController.h" />
        <source-file src="src/ios/TZImagePickerController/TZGifPhotoPreviewController.m" />
        <header-file src="src/ios/TZImagePickerController/TZImageCropManager.h" />
        <source-file src="src/ios/TZImagePickerController/TZImageCropManager.m" />
        <header-file src="src/ios/TZImagePickerController/TZImageManager.h" />
        <source-file src="src/ios/TZImagePickerController/TZImageManager.m" />
        <header-file src="src/ios/TZImagePickerController/TZImagePickerController.h" />
        <source-file src="src/ios/TZImagePickerController/TZImagePickerController.m" />
        <header-file src="src/ios/TZImagePickerController/TZImageRequestOperation.h" />
        <source-file src="src/ios/TZImagePickerController/TZImageRequestOperation.m" />
        <header-file src="src/ios/TZImagePickerController/TZLocationManager.h" />
        <source-file src="src/ios/TZImagePickerController/TZLocationManager.m" />
        <header-file src="src/ios/TZImagePickerController/TZPhotoPickerController.h" />
        <source-file src="src/ios/TZImagePickerController/TZPhotoPickerController.m" />
        <header-file src="src/ios/TZImagePickerController/TZPhotoPreviewCell.h" />
        <source-file src="src/ios/TZImagePickerController/TZPhotoPreviewCell.m" />
        <header-file src="src/ios/TZImagePickerController/TZPhotoPreviewController.h" />
        <source-file src="src/ios/TZImagePickerController/TZPhotoPreviewController.m" />
        <header-file src="src/ios/TZImagePickerController/TZProgressView.h" />
        <source-file src="src/ios/TZImagePickerController/TZProgressView.m" />
        <header-file src="src/ios/TZImagePickerController/TZVideoCropController.h" />
        <source-file src="src/ios/TZImagePickerController/TZVideoCropController.m" />
        <header-file src="src/ios/TZImagePickerController/TZVideoEditedPreviewController.h" />
        <source-file src="src/ios/TZImagePickerController/TZVideoEditedPreviewController.m" />
        <header-file src="src/ios/TZImagePickerController/TZVideoPlayerController.h" />
        <source-file src="src/ios/TZImagePickerController/TZVideoPlayerController.m" />
        <header-file src="src/ios/TZImagePickerController/UIView+TZLayout.h" />
        <source-file src="src/ios/TZImagePickerController/UIView+TZLayout.m" />
        <resource-file src="src/ios/TZImagePickerController/TZImagePickerController.bundle"/>



        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
			<string>更换头像需要您的同意,请允许访问你的相机</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSPhotoLibraryAddUsageDescription">
			<string>更换头像需要您的同意,请允许访问你的相册</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
			<string>更换头像需要您的同意,请允许访问你的相册</string>
        </config-file>

    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="wswSelPhono">
                <param name="android-package" value="cordova-plugin-wswSelPhono.wswSelPhono" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/wswSelPhono.java" target-dir="src/cordova-plugin-wswSelPhono/wswSelPhono" />
    </platform>
</plugin>